	<div class="chatNav__avatar">
		<img src="{{ avatar }}" alt="{{ title }}" width="34" height="34" class="chatNav__img">
	</div>
	<div class="chatNav__title">{{ title }}</div>
	<div class="chatNav__menuBtn" id="chatMenuToggle"><i class="{{ icon }}" id="chatMenuToggleIcon"></i></div>
