	<div class="chat-nav__avatar">
		<img src="{{ avatar }}" alt="{{ title }}" width="34" height="34" class="chat-nav__img">
	</div>
	<div class="chat-nav__title">{{ title }}</div>
	<div class="chat-nav__menuBtn" id="chatMenuToggle"><i class="{{ icon }}" id="chatMenuToggleIcon"></i></div>
