$backgroundInput: #EFEFEF;
$blackFont: #1E1E1E;
$blueButton: #0071f0;
$focusButton: rgba(0, 113, 240, 0.7);

.nav {
	&__add_chat {
		box-sizing: border-box;

		&_input {
			box-sizing: border-box;
			width: 100%; // calc(100% - 33px);
			padding: 4px 5px;
			margin: 0;
			color: $blackFont;
			background-color: $backgroundInput;
			border: 1px solid $backgroundInput;
			border-radius: 5px;
			outline: none;
			transition: 0.3s;

			&_block {
				box-sizing: border-box;
				width: calc(100% - 38px);
				margin: 0;
				padding: 0;
				display: inline-block;
				vertical-align: top;
			}
		}

		&_btn {
			display: inline-block;
			box-sizing: border-box;
			letter-spacing: 1px;
			font-size: 1rem;
			width: 30px;
			text-align: center;
			padding: 5px 10px;
			margin-left: 3px;
			border: none;
			border-radius: 5px;
			color: #fff;
			background-color: $blueButton;
			outline: none;
			cursor: pointer;
			transition: background-color 0.3s;
		}
	}

}
