<div class="body">
	{{> leftnav }}
	<main class="container-profile">
		<form action="chat" method="post" class="profile">
			{{> avatar }}
			<h2 class="profile__name">{{name}}</h2>
			{{#each fields}}
				{{> lineinput }}
			{{/each}}
			<br />
			{{#each buttons}}
				{{> button }}
			{{/each}}
			{{#each links}}
				{{> link }}
			{{/each}}
		</form>
	</main>
</div>