<div class="body">
	{{> leftnav }}
	<main class="container-profile">
		<form action="chat" method="post" class="profile">
			{{> avatar }}
			{{#each fields}}
				{{> lineinput }}
			{{/each}}
			{{#each buttons}}
				{{> button }}
			{{/each}}
		</form>
	</main>
</div>