{{#each messages}}
<div class="message__wrap {{this.msgClass}}">
	<div class="message">
		<div class="message__content">{{this.content}}</div>
		<div class="message__time">{{this.formatedTime}}</div>
	</div>
</div>
{{/each}}