$font: sans-serif;
$lightShadow: #ccc;
$bkgrAvatar: #EFEFEF;
$blueButton: #0071f0;
$focusButton: rgba(0, 113, 240, 0.7);
$grayLine: #eaeaea;

.avatar {
	margin: 20px;
	text-align: center;
	height: 130px;
	width: 130px;
	color: $bkgrAvatar;
	background-color: $bkgrAvatar;
	border-radius: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	&__changable {
		&:hover {
			background-color: black;
			opacity: 0.5;
			cursor: pointer;
		}
	}
	&__label {
		font-size: 0.8em;
		position: absolute;
		top: 57.5px;
		left: 12px;
		z-index: -1;
	}
	&__img {
		position: absolute;
		top: 42.5px;
		left: 42.5px;
		height: 45px;
		width: 45px;
	}
	&__name {
		text-align: center;
	}
	&__changable:hover &__label {
		z-index: 1000;
	}
}
