@import "../../globalVar.scss";

.link {
  &__group {
    position: relative;
    margin-bottom: 32px;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: $blueButton;
  }

  &__to_left {
    text-align: left;
    border-bottom: 1px solid $grayLine;
    padding-bottom: 12px;
    margin-bottom: 20px;
  }

  &__to_right {
    text-align: right;
    border-bottom: 1px solid $grayLine;
    padding-bottom: 12px;
    margin-bottom: 20px;
  }
}
