<div class="container-error">
	<main class="error">
		<h1 class="error__title">{{title}}</h1>
		<h3 class="error__content">{{content}}</h3>
		{{#each links}}
			{{> link }}
		{{/each}}
	</main>
</div>